<router-outlet></router-outlet>

<h1>Test BootsStrap</h1>

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="./../assets/logo_horacio.png" alt="">
      </div>
    </div>
      </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="./../assets/crud.png" alt="">
      </div>
  </div>
</div>
</div><!--div row-->
<div class="card" style="width: 18rem;">
  <img src="./../assets/Github diego.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Diego Matheus</h5>
    <p class="card-text"><b>Idade:</b> 23 Years</p>
    <p class="card-text"><b>Curso:</b> Desenvolvimento de Sistemas</p>
    <p class="card-text"><b>Hobbies: </b>Jogar, Verificar Hardwares.</p>
    <a href="https://github.com/DiegoMatheusS" class="btn btn-primary">Github</a>

  </div>
</div>
<router-outlet></router-outlet>
